.center
{
  /* height:100vh; */
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  /* -webkit-transition:all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  border-radius:16px;
  overflow:hidden;
  /* -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff; */
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:-webkit-fill-available;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  /* -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); */
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-card:hover .property-description
{
  background-color: white;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* padding: 0.5em 1em; */
  text-align:center;

}


.img-card{
    background-position: center!important;
    background-size: 100% 100% !important;
   
}

/* @media only screen and (min-width: 480px) {
  .property-card {
    margin-left: 3px;
    margin-right: 3px;
  }
} */
/* @media only screen and (min-width: 585px) {
  .property-card {
    width: 14em;
  }
}
@media only screen and (min-width: 585px) {
  .property-card:hover .property-description {
    width: 14em;
  }
} */


@media only screen and (min-width: 500px) {
  .property-card {
    width: 11em; 
  }
}
@media only screen and (min-width: 500px) {
  .property-card:hover .property-description {
    width: 11em;
  }
}

@media only screen and (min-width: 580px) {
  .property-card {
    width: 14em;
  }
}
@media only screen and (min-width: 580px) {
  .property-card:hover .property-description {
    width: 14em;
  }
}