/* normal seat */
.ghe{
    width: 35px;
    height:35px;
    border-radius: 5px;
    cursor: poiner;
    margin: 5px;
    background-color: gray;
    color: white;

}
.gheDaDat{
    width: 35px;
    height:35px;
    border-radius: 5px;
    cursor: no-drop;
    margin: 5px;
    background-color: red !important;
    color: white;
    

}
.gheDangDat{
    background-color: green !important;
    color: white;
}

.gheVip{
    background-color: orange ;
}

.gheDuocDat{
    background-color: white!important;
    border: 2px solid green;
    color:green;


}

@media only screen and (min-width: 350px) {
    .ghe {
        width: 20px;
        height:20px;
        margin: 1px;
        border-radius: 3px;
        font-size:10px;
        padding:1px
    }
  }
@media only screen and (min-width: 472px) {
    .ghe {
        width: 25px;
        height:25px;
        margin: 1px;
        border-radius: 3px;
    }
  }
@media only screen and (min-width: 640px) {
    .ghe {
        width: 30px;
        height:30px;
        margin: 3px;
    }
  }
@media only screen and (min-width: 700px) {
    .ghe {
        width: 35px;
        height:35px;
        margin: 3px;
    }
  }
@media only screen and (min-width: 1024px) {
    .ghe {
        width: 25px;
        height:25px;
        margin: 3px;
    }
  }
@media only screen and (min-width: 1280px) {
    .ghe {
        width: 30px;
        height:30px;
        margin: 5px;
    }
  }
